* {
    transition: all .3s;
}

/* Background */

.dark-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../image/text-bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.live-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../image/text-bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Navbar */

.navbar {
    z-index: 999;
}

.navbar-nav {
    transition: all .3s;
    border-top-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.050);
}

.navbar .container .navbar-nav a:hover {
    transform: scale(1.1);
    transition: all .1s;
}

.navbar-scroll .navbar-nav {
    background-color: rgba(255, 255, 255, 0.021);
    transition: all .6s;
    border-radius: 1.5rem;
    box-shadow: 6px 6px 15px black;
}

.navbar-scroll .container .navbar-nav a {
    color: #fff;
    transition: all .3s;
    font-size: 18;
    font-weight: 400;
}

.navbar-scroll .container .navbar-nav a:hover {
    transition: all .2s;
    border-bottom: 3px solid #000;
    border-radius: .8rem;
    padding: 7px 10px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.075);
}

nav .container .navbar-brand {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    text-shadow: 0 0 15px white;
    border-bottom: 1px solid #ddd;
    transition: all .6s;
}

.navbar-scroll .navbar-brand {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 1.5rem;
    transition: all .6s;
    box-shadow: 6px 6px 15px black;
}

.navbar-scroll .navbar-brand:hover {
    transform: scale(1.1);
    transition: all .3s;
    border-radius: 1rem;
    border-bottom: 2px solid red;
    box-shadow: 10px 10px 15px black;
}

.navbar-collapse {
    margin-top: 5px;
}

.navbar-scroll {
    background-color: #1f1e1ea4;
    transition: all .5s;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 15px #ddd;
}

.navbar-scroll .navbar-collapse {
    border-radius: 1.1rem;
    transition: all .3s;
    margin-top: 20px;
}

/* Hero */

#hero .container {
    height: 100vh;
}

.generic {
    padding: 100px 0;
}

/* Approach */