body {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 1rem;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}

/* Background */

.dark-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../image/text-bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.live-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../image/main-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.constrat-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../image/text-bg2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: .9;
}

/* Navbar */

nav {
    padding: 0;
    margin: 0;
}

.navbar {
    z-index: 999;
}

.navbar-nav {
    transition: all .3s;
    border-top-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.050);
}

.navbar-scroll .navbar-nav {
    background-color: rgba(255, 255, 255, 0.945);
    transition: all .6s;
    border-radius: 1.5rem;
    box-shadow: 6px 6px 15px black;
}

.navbar .container .navbar-nav a:hover {
    transform: scale(1.1);
    transition: all .1s;
}

.navbar-scroll .container .navbar-nav a {
    color: #000;
    transition: all .3s;
    font-size: 18;
    font-weight: 400;
}

.navbar-scroll .container .navbar-nav a:hover {
    transition: all .2s;
    border-bottom: 3px solid #000;
    border-radius: .8rem;
    padding: 7px 10px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.075);
}

.navbar-toggler {
    margin-top: 10px;
    margin-right: 15px;
    background-color: #00000038;
}

.navbar-toggler:focus .collapse, .navbar-nav {
    margin-top: 10px;
    margin-right: 15px;
}

.navbar-scroll .navbar-brand {
    visibility: hidden;
}

/* Hero */

#hero {
    margin-bottom: 100px;
    box-shadow: 0 0 15px #000,
                0 0 25px #000;
}

#hero .container {
    height: 65vh;
}

/* Approach */

#approach {
    margin-bottom: 100px;
}

.generic {
    padding: 125px 0;
}

/* Future */

#future {
    margin-bottom: 100px;
}

#future img {
    max-height: 98vh;
}

.generic-2 {
    box-shadow: inset 0 0 15px #000;
}

/* Components */

#components .container .list-group a {
    background-color: #eeeeeed3;
    color: #000;
    font-weight: 500;
}

.generic-3 {
    box-shadow: 0 0 15px #000,
                0 0 25px #000;
}

section .container .row .scrollspy-example {
    max-height: 36vh;
}
