body {
    padding: 10px;
}

* {
    transition: all .3s;
}

/* Background */

.dark-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../image/text-bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.live-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../image/main-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Navbar */

nav {
    padding: 0;
    margin: 0;
}

.navbar {
    z-index: 999;
}

.navbar-nav {
    transition: all .3s;
    border-top-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.050);
}

.navbar-scroll .navbar-nav {
    background-color: rgba(255, 255, 255, 0.945);
    transition: all .6s;
    border-radius: 1.5rem;
    box-shadow: 6px 6px 15px black;
}

.navbar .container .navbar-nav a:hover {
    transform: scale(1.1);
    transition: all .1s;
}

.navbar-scroll .container .navbar-nav a {
    color: #000;
    transition: all .3s;
    font-size: 18;
    font-weight: 400;
}

.navbar-scroll .container .navbar-nav a:hover {
    transition: all .2s;
    border-bottom: 3px solid #000;
    border-radius: .8rem;
    padding: 7px 10px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.075);
}

.navbar-toggler {
    margin-top: 10px;
    margin-right: 15px;
    background-color: #00000038;
}

.navbar-toggler:focus .collapse, .navbar-nav {
    margin-top: 10px;
    margin-right: 15px;
}

nav .container .navbar-brand {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    text-shadow: 0 0 15px white;
    border-bottom: 1px solid #ddd;
    transition: all .6s;
}

.navbar .container .navbar-brand {
    margin-top: 14px;
}

.navbar-scroll .navbar-brand {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 1.5rem;
    transition: all .6s;
    box-shadow: 6px 6px 15px black;
    color: #000;
    background-color: #fff;
}

.navbar-scroll .navbar-brand:hover {
    transform: scale(1.1);
    transition: all .3s;
    border-radius: 1rem;
    border-bottom: 2px solid red;
    box-shadow: 10px 10px 15px black;
}


/* Hero */

#hero {
    margin-bottom: 100px;
    box-shadow: 0 0 30px #000,
        0 0 50px #000;
}

#hero .container {
    height: 65vh;
}

#approach {
    margin-bottom: 100px;
}

.generic {
    box-shadow: inset 0 0 30px #000;
    padding: 150px 0;
}

/* Approach */